/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.navbar {
  background-color: #89DA59;
  border: none;
a {
  color: white;
}
}



.rr-search{
  margin-left: 50%;
}
//This is search magnifying glass
.fa-search{
  color: white;
}

// this is for the search bar length
input{
  width: 200px;
  margin-top: 10px;
}

//We did this for search button
.btn{
  background-color: #0080ff;
}

// RATING STARS:
.rating-symbol{
  color:#e5e500;
}

//Sum Star
.fa-star{
  color: #e5e500;
  border: 1px;
}
