<h1>Reviews#index</h1>
<p>Find me in app/views/reviews/index.html.erb</p>
<% @reviews.each do |r| %>
  <p><%= r.rating %>   stars</p>
  <p><%= r.title %></p>
  <p><%= r.body %></p>
  <br><br>


<% end %>
