

<style>
.off{
  display: inline-block;
}

.on{
  display: inline-block;
  display: none;

}

</style>


<div class = "star-select-on">
 <img class="on one" src="/icons/star-green1.png" height="25" widht="25" alt="on" />
 <img class="on two" src="/icons/star-green1.png" height="25" widht="25" alt="on" />
 <img class="on three" src="/icons/star-green1.png" height="25" widht="25" alt="on" />
 <img class="on four" src="/icons/star-green1.png" height="25" widht="25" alt="on" />
 <img class="on five" src="/icons/star-green1.png" height="25" widht="25" alt="on" />

</div>
